.v-chat-button {
  display: flex;
  flex: none;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  font-size: 0;
  line-height: 0;
  text-decoration: none;

  &:hover {
    background-color: rgba(0, 0, 0, 0.5);

    svg {
      fill: white;
    }
  }

  svg {
    width: 24px;
    height: 24px;
    fill: grey;
  }
}