.v-chat-emoji {
  position: relative;
  font-size: 20px;

  a {
    display: inline-block;
    padding: 2px;
    text-decoration: none;
    border-radius: 3px;

    &:hover,
    &.active {
      background-color: $primary;
    }
  }

  .select {
    padding: 7px 5px;
    background-color: rgba(0, 0, 0, 0.2);

    a {
      margin: 0 3px;
    }
  }

  .icon {
    position: relative;
    height: 100px;
    padding: 10px;
    word-break: break-all;
    overflow: hidden;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.1);
  }
}